name: graphst_env
channels:
  - conda-forge
  - pytorch
  - defaults
dependencies:
  - python=3.8
  - numpy=1.22.3
  - pandas=1.4.2
  - scipy=1.8.1
  - scikit-learn=1.1.1
  - tqdm=4.64.0
  - matplotlib=3.4.2
  - scanpy=1.9.1
  - anndata=0.8.0
  - r-base=4.0.3
  - rpy2=3.4.1

  # Install POT via Conda to avoid compilation/numpy errors
  - pot>=0.8.0
  - scikit-misc=0.1.4

  - pip
  - pip:
    # 1. PyTorch 2.0.1 (Using CUDA 11.7 wheels)
    - --extra-index-url https://download.pytorch.org/whl/cu117
    - torch==2.0.1
    - torchvision==0.15.2
    - torchaudio==2.0.2

    # 2. PyG Dependencies (Pre-compiled for Torch 2.0.1 + CUDA 11.7)
    - --find-links https://data.pyg.org/whl/torch-2.0.1+cu117.html
    - torch-scatter
    - torch-sparse
    - torch-cluster
    - torch-spline-conv
    - torch-geometric

    # 3. Install the current GraphST package
    - .
